.grid__cell
  .card{ class: card_classes(:wish_list_products_report, local_assigns[:active]) }
    = link_to wish_list_products_report_path, class: 'card__header' do
      %span.card__header-text= t('workarea.admin.reports.wish_list_products.title')
      = inline_svg 'workarea/admin/icons/insights.svg', class: 'card__icon'

    .card__body
      .card__centered-content
        %table
          %tbody
            - dashboard.wish_list_products.results.take(4).each do |result|
              %tr
                %td= result.product.present? ? result.product.name : result._id
                %td.align-right= number_to_currency(result.revenue)

        = link_to wish_list_products_report_path, class: 'card__button' do
          %span.button.button--small= t('workarea.admin.dashboards.reports.view_full_report')
